@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Sacramento|Lobster&display=swap");
* {
	box-sizing: border-box;
	font-family: "Lobster", cursive;
}
.container-fluid {
	height: 300%;
	width: 100%;
	/* background-color: #4a4e4d; */
}
.fa-twitter {
	color: #005b96;
}
.fa-arrow-alt-circle-right {
	color: darkgreen;
}

p {
	color: white;
}
figcaption {
	color: white;
	font-family: Lobster;
	font-size: 1.5em;
	margin-bottom: 10px;
}
#quote-box {
	font-family: "Times New Roman", "Helvetica";
	width: 33%;
	height: auto;
	margin-right: auto;
	margin-left: auto;
}
.Cover {
	height: 300px;
	width: 300px;
	padding: 20px;
	border-color: transparent;
	border-style: solid;
	border-radius: 50%;
}
#text {
	font-family: "Indie Flower";
	font-size: 20px;
}
.border-bottom {
	border-bottom: 2px solid black;
}
.divider {
	margin-top: 2px;
	height: 2px;
	width: 70%;
	margin: 0 auto;
	margin-top: 10px;
	opacity: 0.5;
	border-left: 1px solid black;
	margin-top: 10px;
}

#author {
	font-family: "Sacramento";
	word-wrap: break-word;
	display: block;
	width: 100%;
	text-align: center;
	font-size: 15px;
	font-style: italic;
	line-height: 30px;
}
#footer {
	background-color: white;
	color: SaddleBrown;
	clear: both;
	font-size: 12px;
	padding-top: 3px;
	opacity: 0.5;
	margin-top: 540px;
}
.btn,
btn-default {
	margin-top: 25px;
	background-color: grey;
	border: none;
	color: white;
	padding: 8px 7px;
	width: 124px;
	height: 30px;
	text-align: center;
	display: inline-block;
	font-size: 10px;
	border-radius: 100px;
	opacity: 0.7;
	margin-bottom: 25px;
}

.btn {
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.btn:hover {
	background-color: white;
	color: black;
	box-shadow: 10px 10px 5px #888888;
}
